* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  transition: background-color .5s;
  overflow-x: hidden;
  font-weight: 500px;
  background-color: #e5e7da;
}

.landing-page {
  background-color: #e5e7da;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.mainPage {
  background-color: #e5e7da;
  border-radius: 25px;
  margin-bottom: 4.5rem;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.25), 
            -20px -20px 30px rgba(255, 255, 255, 0.3);
  height: 85%;
  margin-top: 1rem;
}


html, body, .view {
  height: 100%;

}

@media (max-width: 900px) {
  .view {
    height: 100%;
    width: 100%;
    padding-top: 10%;
    
  }


/*h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  margin: 16px 0 48px;
  text-align: center;
}
*/

/*Input list items*/
 .input_item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
     width: 80%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    text-indent: 18px;
}


#myInput {
    width: 80%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    text-indent: 18px;
}

/*Add Button*/
.addBtn {
    background-color: #557571; 
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}


.addBtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.addBtn {
    background-color: white; 
    color: black; 
    border: 2px solid #557571;
}

.addBtn:hover {
    background-color: #557571;
    color: white;
}

/*List Items*/
 ul {
  margin: 0;
  padding: 0;
}

.lists1 {
  list-style-type: none;
  text-align: justify;
  text-indent: 40px;
}

.lists1 li {
  width: 100%;
  height: 40px;
  float: left;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
  margin: 5 5 10px 5;
  padding: 7px;
  position: relative;

}


ul li {
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #e6fff8;
}

.checked {
  background: white;
  color: black;
  text-decoration: line-through;
}

.checked::before {
  content: '';
  position: absolute;
  border-color: #557571;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.close {
  background: none;
  border: 0;
  outline: none;
  width: 10px;
  height: 40px;
  top: 0;
  right: 0;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}




.close {
    background-color: white; 
    border: none;
    color: black;
    text-align: left;
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    height: 40px;
    width: 10%;
    padding: 5px 5px;
    border-radius: 5px;
    float: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.close:active:after {
    padding: 0;
    opacity: 1;
    transition: 0s
}




.close:hover {
    background-color: #557571;
    color: white;
}
